<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PoC Tisk</title>
    <link rel="icon" href="/img/icon_no_bg.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/error.css">
</head>

<body>
    <!-- ------ Nav bar ------ -->
    <%- include("nav.ejs") %>

    <div id="div-error">
        <h1><%= result.code %></h1>
        <h2><%= result.title %></h2>
        <p><%= result.message %></p>
    </div>
</body>

</html>