<div id="div-nav" class="row-space-between">
    <img src="/img/logo_white.png" alt="Tisk logo" width="80">
    <!-- Hamburger button -->
    <button id="button-hamburger" aria-label="menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
    <!-- Hamburger menu -->
    <div id="div-hamburger" class="row-space-between">
        <div class="div-menu">
            <img src="/img/language/en.png" alt="USA flag" width="15">
            <p class="white">EN</p>
        </div>
        <p class="white">test_user123</p>
        <div class="div-menu">
            <p id="p-logout" class="white">Log out</p>
            <img src="/img/icons/logout.png" alt="Logout" width="30">                
        </div>            
    </div>
</div>